

.blog-post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
  }
  
  .blog-post h1 {
    font-size: 24px;
    margin: 0 0 10px;
    color: rgb(80, 47, 80);
  }
  
  .author-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    position: relative;
  }
  
  .author-name {
    font-weight: bold;
  }
  
  .topic {
    color: #ff9900;
  }
  
  .edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
  }
  
  
  .blog-item {
    padding: 10px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  .arrow{
    font-size: 30px;
  }

  .arrow:hover{
    color: rgb(153, 127, 153);
    cursor: pointer;
  }