
.create-blog {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .create-blog h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .create-blog form {
    display: flex;
    flex-direction: column;
  }
  
  .create-blog .form-group {
    margin-bottom: 20px;
  }
  
  .create-blog label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .create-blog input[type='text'],
  .create-blog textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
  }

  .create-blog input[type='text']:focus,
  .create-blog textarea:focus {
    border-color: rgb(151, 92, 151);
    outline-color:  rgb(80, 47, 80);
  }
  
  .create-blog textarea {
    height: 150px;
  }
  
  .create-blog button[type='submit'] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(80, 47, 80);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .create-blog button[type='submit']:hover {
    background-color: rgb(151, 92, 151);
  }

  @media (max-width: 768px) {
   
    .create-blog input[type='text'],
    .create-blog textarea {
      width: 95%;
      border: 1px solid #ccc;
    }

  }
  
  