.create-blog {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
}

.create-blog h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.create-blog form {
  display: grid;
  gap: 20px;
}

.create-blog .form-group {
  display: grid;
  gap: 10px;
}

.create-blog label {
  font-weight: bold;
}

.create-blog input[type="text"],
.create-blog textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.create-blog .rdw-editor-main {
  min-height: 300px; /* Increase the minimum height of the editor */
  min-width: 100%;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

.create-blog button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(80, 47, 80);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

@media (max-width: 600px) {
  .create-blog {
    padding: 10px;
  }

  .create-blog h2 {
    font-size: 20px;
  }

  .create-blog form {
    display: flex;
    flex-direction: column;
  }

  .create-blog label {
    margin-bottom: 5px;
  }

  .create-blog input[type="text"],
  .create-blog textarea {
    width: 100%;
  }

  .create-blog button[type="submit"] {
    width: 100%;
  }
}
